services:
  s3_backend:
    command: server /data
    container_name: s3
    environment:
      - MINIO_ACCESS_KEY=ElixirID
      - MINIO_SECRET_KEY=987654321
    healthcheck:
      test: ["CMD", "curl", "-fkq", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 20s
      retries: 3
    image: minio/minio:RELEASE.2021-02-14T04-01-33Z
    ports:
      - "9000:9000"
    volumes:
      - data:/data
  createbucket:
    container_name: buckets
    image: minio/mc:RELEASE.2021-02-14T04-28-06Z
    depends_on:
      - s3_backend
    entrypoint: >
      /bin/sh -c "
      /bin/sleep 30;
      /usr/bin/mc config host add s3 http://s3:9000 ElixirID 987654321;
      /usr/bin/mc rm -r --force s3/test;
      /usr/bin/mc mb s3/test;
      /usr/bin/mc mb s3/download;
      /usr/bin/mc mb s3/archive;
      /usr/bin/mc policy set public s3/download;
      "
  rabbitmq:
    image: ghcr.io/neicnordic/sensitive-data-archive:${TAG}-rabbitmq
    container_name: rabbitmq
    environment:
     - RABBITMQ_DEFAULT_PASS=test
     - RABBITMQ_DEFAULT_USER=test
     - MQ_VHOST=sda
    ports:
      - "15672:15672"
      - "5672:5672"
    healthcheck:
      test: ["CMD", "bash", "-c", "rabbitmq-diagnostics -q check_running && rabbitmq-diagnostics -q check_local_alarms"]
      interval: 5s
      timeout: 120s
      retries: 10
  ceph:
    container_name: ceph-octopus
    environment:
      - "RGW_NAME=ceph-octopus"
      - "RGW_FRONTEND_PORT=8100"
      - "SREE_PORT=5100"
      - "RGW_CIVETWEB_PORT=5100"
      - "DEBUG=verbose"
      - "CEPH_DEMO_UID=nano"
      - "EXPOSED_IP=127.0.0.1"
      - "MON_IP=127.0.0.1"
      - "CEPH_PUBLIC_NETWORK=0.0.0.0/0"
      - "CEPH_DAEMON=demo"
      - "DEMO_DAEMONS=mon,mgr,osd,rgw"
      - "SREE_VERSION=v0.1"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "CEPH_VERSION=octopus"
      - "CEPH_POINT_RELEASE="
      - "CEPH_DEVEL=false"
      - "CEPH_REF=octopus"
      - "OSD_FLAVOR=default"
    healthcheck:
      test: ["CMD", "stat", "/nano_user_details"]
      interval: 5s
      timeout: 20s
      retries: 3
    image: ceph/daemon:v5.0.1-stable-5.0-octopus-centos-8-x86_64
    ports:
      - "5100:5100"
      - "8100:8100"
  ceph_proxy:
    image: "ghcr.io/neicnordic/sensitive-data-archive:${TAG}"
    command: [ sda-s3inbox ]
    container_name: ceph_proxy
    depends_on:
      ceph:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: always
    volumes:
      - ./keys/:/keys/
      - ./ceph_proxy_config.yaml:/config.yaml
    ports:
      - "8800:8000"
      - "8801:8001"
  s3_proxy:
    image: "ghcr.io/neicnordic/sensitive-data-archive:${TAG}"
    command: [ sda-s3inbox ]
    container_name: proxy
    depends_on:
      rabbitmq:
        condition: service_healthy
      s3_backend:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: always
    environment:
      - LOG_LEVEL=info
      - INBOX_URL=http://s3
      - INBOX_PORT=9000
      - INBOX_ACCESSKEY=ElixirID
      - INBOX_SECRETKEY=987654321
      - INBOX_BUCKET=test
      - INBOX_REGION=us-east-1
      - INBOX_READYPATH=/minio/health/ready
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=rootpasswd
      - DB_DATABASE=sda
      - DB_SSLMODE=disable
      - BROKER_HOST=rabbitmq
      - BROKER_USER=test
      - BROKER_PASSWORD=test
      - BROKER_PORT=5672
      - BROKER_VHOST=sda
      - BROKER_EXCHANGE=sda
      - BROKER_ROUTINGKEY=inbox
      - BROKER_SSL=False
      - SERVER_JWTPUBKEYPATH=/keys/
      - LOG_FORMAT=json
    volumes:
      - ./keys/:/keys/
    ports:
      - "8000:8000"
      - "8001:8001"
  postgres:
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=rootpasswd
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 2s
      retries: 6
    image: ghcr.io/neicnordic/sensitive-data-archive:${TAG}-postgres
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
  ## mock oidc server is configured only for device flow,
  ## the client_id corresponds to the sda-cli client, not sda-auth
  oidc:
    profiles: ["login"]
    container_name: oidc
    build:
      context: ./oidc
      dockerfile: Dockerfile
    image: mock-oidc-user-server
    environment:
      - PORT=9090
      - HOST=localhost
      - CLIENT_ID=sda-cli
      - CLIENT_REDIRECT_URI=http://localhost:8080/elixir/login
    ports:
      - 9090:9090
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/.well-known/openid-configuration"]
      interval: 5s
      timeout: 10s
      retries: 4
  keygen:
    profiles: ["login"]
    image: golang:alpine3.16
    container_name: keygen
    command:
      - "/bin/sh"
      - "-c"
      - if [ ! -f "/shared/c4gh.sec.pem" ]; then wget -qO- "https://github.com/neicnordic/crypt4gh/releases/latest/download/crypt4gh_linux_x86_64.tar.gz" | tar zxf -;
        ./crypt4gh generate -n /shared/c4gh -p privatekeypass; fi;
    volumes:
      - shared:/shared
  ## auth is here only for providing the /info endpoint, no other functionality will work with current configuration
  auth:
    profiles: ["login"]
    container_name: auth
    image: "ghcr.io/neicnordic/sensitive-data-archive:${TAG}-auth"
    depends_on:
      oidc:
        condition: service_healthy
      keygen:
          condition: service_completed_successfully
    environment:
      - ELIXIR_ID=sda-cli
      - ELIXIR_PROVIDER=http://${DOCKERHOST:-localhost}:9090
      - ELIXIR_SECRET=wHPVQaYXmdDHg  #not used but required so that auth starts
      - S3INBOX=s3.example.com
      - PUBLICFILE=/shared/c4gh.pub.pem
      - RESIGNJWT=false
    extra_hosts:
      - ${DOCKERHOST:-localhost}:host-gateway
    volumes:
      - shared:/shared
    ports:
      - 8080:8080
  # mock oidc server for testing the download endpoint
  mockauth:
    command:
      - /bin/sh
      - -c
      - |
        pip install --upgrade pip
        pip install aiohttp Authlib
        python -u /mockoidc.py
    container_name: mockauth
    image: python:3.10-slim
    volumes:
      - ./mockoidc/mockoidc.py:/mockoidc.py
    mem_limit: 256m
    ports:
      - "8002:8000"
    restart: always
  download:
    command: sda-download
    container_name: download
    depends_on:
      postgres:
        condition: service_healthy
      s3_backend:
        condition: service_healthy
      mockauth:
        condition: service_started
    environment:
      - ARCHIVE_URL=http://s3
      - ARCHIVE_TYPE=s3
      - ARCHIVE_PORT=9000
      - ARCHIVE_ACCESSKEY=ElixirID
      - ARCHIVE_SECRETKEY=987654321
      - ARCHIVE_BUCKET=archive
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=rootpasswd
      - DB_DATABASE=sda
      - DB_SSLMODE=disable
      - OIDC_CONFIGURATION_URL=http://mockauth:8000/.well-known/openid-configuration
      - GRPC_PORT=50051
      - GRPC_HOST=reencrypt
      - APP_SERVEUNENCRYPTEDDATA=true
      - APP_MIDDLEWARE=token-clientversion
      - APP_MINIMALCLIVERSION=0.2.0
    image: "ghcr.io/neicnordic/sensitive-data-archive:${TAG}-download"
    volumes:
      - ./archive_data/4293c9a7-dc50-46db-b79a-27ddc0dad1c6:/tmp/4293c9a7-dc50-46db-b79a-27ddc0dad1c6
    mem_limit: 256m
    ports:
      - "8080:8080"
    restart: always
  reencrypt:
    image: ghcr.io/neicnordic/sensitive-data-archive:${TAG}
    command: [ sda-reencrypt ]
    container_name: reencrypt
    environment:
      - LOG_LEVEL=debug
    ports:
      - "50051:50051"
    restart: always
    volumes:
      - ./:/dev_utils
      - ./reencrypt_config.yaml:/config.yaml
volumes:
  data:
  dbdata:
  shared:
