name: Go Multilinting
on: [push]
jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.24"]
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          args: --timeout 5m
